#content-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95vw;
    margin:auto;
    margin-top: 2vh;
}
.post .frame-container{
    float: left;
    margin-inline: 1.5vw;
    width: 40vw;
    aspect-ratio: 2/1;
}
.post iframe{
    width: 100%;
    height: 100%;
}

.post .logline{
    font-style: italic;
    font-size: 2.3vh;
    margin-bottom: 1vh;
}
.post .frame-container.left {
  float: left;
}

.post .frame-container.right {
  float: right;
}

