.post{
    width: 93vw;
    margin-top: 1%;
}
.post hr{
    margin-bottom: 1vh;
}
.post .frame-container{
    float: left;
    margin-inline: 2vw;
    width: 40vw;
    height: 22.5vw;
}
.post iframe{
    width: 100%;
    height: 100%;
}
.post .text-section{
    margin-inline: 2vw;
}
.post .headline {
    display: flex;
    align-items: baseline;
    gap: .5vw;
    margin-bottom: 1vh;
}
.post h2{
    font-size: 3vh;
}
.post .date{
    font-size: 1.7vh;
}
.post .logline{
    font-style: italic;
    font-size: 2.3vh;
    margin-bottom: 1vh;
}
.post .description{
    word-wrap: break-word;
    hyphens: auto;
    -webkit-hyphens: auto;
    font-size: 2vh;
}
.post .frame-container.left {
  float: left;
}

.post .frame-container.right {
  float: right;
}

