@font-face {
	font-family: CascadiaMono;
	src: url(fonts/CascadiaCode-2111.01/otf/static/CascadiaMono-Regular.otf);
}
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html{
	background: url(background.jpg);
    background-size: cover;
}

body{
	width: 100%;
	height: 100%;
}

nav {
    background: linear-gradient(to top, rgba(39, 60, 117,.7), rgba(25, 42, 86, .9));
    flex-basis: 100%;
	padding: 0 0 0 0;
    text-align: center; /* Align the text (which includes the <ul>) to the center */
}

div {
    display: inline-block;
}

.navbar-top-main {
    flex-basis: 50%;
}

.navbar-top-side {
    width: 25%;
}

ul {
    display: inline-block; /* Display the <ul> as an inline block */
    text-align: center; /* Center the text inside the <ul> */
}

li {
    list-style: none;
    display: inline-block;
	padding: 15px;
}

li a {
    color: white;
	text-transform: uppercase;
	font-family: CascadiaMono;
}
