body{
    display: flex;
    flex-direction: column;
    
}
#content-area{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3vw;
    margin: auto;
    margin-top: 2vh;
    width: 95vw;
}

.post{
    box-shadow: 0px 0px 0px black;
    border: 1px solid black;
    aspect-ratio: 1/1;
    transition-duration: 50ms;
}
.post:hover{
    box-shadow: 0px 0px 5px black;
    scale: 1.05;
    transition-duration: 100ms;
}

iframe{
    width: 100%;
    min-width: 100%;
    aspect-ratio: 16/9;
}

@media (max-width:100vh){
    #content-area{
        grid-template-columns: repeat(1, 1fr);
    }
}