#content-area{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3vw;
    margin: auto;
    margin-top: 1%;
    width: 95vw;
}

.post{
    box-shadow: 0px 0px 0px black;
    border: 1px solid black;
    aspect-ratio: 1/1;
    transition-duration: 500ms;
}
.post:hover{
    box-shadow: 0px 0px 10px black;
    transition-duration: 700ms;
}

iframe{
    width: 100%;
    min-width: 100%;
    aspect-ratio: 16/9;
}

.text-section{
    margin-inline: 1vh;
}

h2{
    font-family:monospace;
    font-size: 3vh;
}
h4{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 1.7vh;
}

p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 2vh;
}

@media (max-width:100vh){
    #content-area{
        grid-template-columns: repeat(1, 1fr);
    }
}