@font-face { font-family: CascadeMono; src: url('fonts/CascadiaCode-2111.01/otf/static/CascadiaMono-Regular.otf'); } 

*{
	text-decoration: none; 
}

html{
	scroll-behavior: smooth;
}

html::-webkit-scrollbar{
	display: none;
}

body{
	margin: 0;
	padding: 0;
	display: block;
	float: left;
}

img{
	margin: 0;
	padding: 0;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	z-index: -1;
}

#welcome{
	top: 0;
	display: flex; 
	justify-content: center; 
	position: absolute;
	width: 100%; 
	height: 100%; 
	align-items: center; 
	margin: 0;
}

#hello{
	font-size: 50px;
	background-color: rgba(253, 203, 110,0.7);
	padding: 10px; 
	border-radius: 10px; 
	color: #2d3436;
	border: dashed;
	transition: .3s ease-in;
	margin: 0;
}

#hello:hover{
	color: #0984e3;
	background-color: rgba(253, 203, 110,1);
	transform: scale(1.3);
}

a{
	text-decoration: none;
}
#body{
	margin: 0;
	height: 100em;
	background: linear-gradient(45deg, #2d3436, #0984e3);
}

h1{
	text-align: center;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p{
	text-align: center;
	font-family: CascadeMono;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
  height: 10%;
  border-radius: 5px;
  float: left;
  margin: 0 1%;
  flex: 1;
  background: white;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

.container h4{
	text-align: center;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container p {
	font-family: CascadeMono;
	
}