h1{
    text-align: center;
    font-family:cursive;
    color: black;
    font-size: 3vw;
}

h2{
    text-align: center;
    margin: .5rem;
}

.info-row {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    
}

.label {
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
}

.value {
    text-align: right;
    font-family:Arial, Helvetica, sans-serif;
}
