*{
    margin: 0;
    padding: 0;
}
html{
    overscroll-behavior: none;
    overflow-x: hidden;
    scrollbar-width: none;
}
body{
    width: 100vw;
    height: 100%;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}