*{
    margin: 0;
    padding: 0;
}
html{
    overscroll-behavior: none;
    overflow-x: hidden;
    scrollbar-width: none;
}
body{
    width: 100vw;
    height: 100%;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
p{
    font-size: 2vh;
    word-wrap: break-word;
    hyphens: auto;
    -webkit-hyphens: auto;
}
.text-section{
    margin-inline: 1vw;
}
.date{
    font-size: 1.7vh;
}
hr{
    margin-bottom: 2vh;
}
.post .headline{
    display: flex;
    align-items: baseline;
    gap: .5vw;
    margin-bottom: 1vh;
}
.post h2{
    font-size: 3vh;
}