#content-area{
    /* background-image: url("/bosonchang.github.io/bc/imgs/bg3.png"); */
    background-color: black;
    background-size:cover;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    overflow-block: clip;
}

#poster-container{
    background-image: url("../imgs/bw-subject.png");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    width:100%;
    height: 100%;
    transition-duration: 300ms;
    display: flex;
    pointer-events: none;
}

#poster-hitbox{
    margin: auto;
    width: 25%;
    aspect-ratio: 1/1;
    pointer-events: auto;
}

#poster-container:hover{
    background-image: url("../imgs/coloered-subject.png");
    scale: 1.1;
    transition-duration: 300ms;
}

/* img{
    margin-inline: auto;
    transition: 50ms;
}

img:hover{
    src: url("/bosonchang.github.io/bc/imgs/coloered-subject.png");
    scale: 1.1;
    transition-duration: 100ms;
} */