#content-area{
    width: 100%;
    height: 100%;
}

#poster-area{
    width: 100%;
    /* height: 100%; */
    aspect-ratio: 16/7.5;
    overflow-block: clip;
        background-color: black;
    z-index: 0;
}

#poster-container{
    background-image: url("../imgs/bw-subject.png");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    width:100%;
    height: 100%;
    transition-duration: 300ms;
    display: flex;
    pointer-events: none;
    z-index: 2;
    position: relative;
}

.poster-header{
    color: white;
    font-size:10vw;
    margin-inline: 2vw;
    z-index: 1;
    position: absolute;
    margin-top: 15%;
}

#poster-hitbox{
    margin: auto;
    width: 25%;
    height: 100%;
    pointer-events: auto;
}

#poster-container:hover{
    background-image: url("../imgs/coloered-subject.png");
    scale: 1.1;
    transition-duration: 500ms;
}

#information{
    width: 100%;
    height: 100vh;
}
