html{
    scroll-behavior: smooth;
}
#content-area{
    width: 100%;
    height: 100%;
}

#poster-area{
    width: 100%;
    height: 93vh;
    overflow-block: clip;
    background-color: black;
    z-index: 0;
}

@media (max-width:100vh) {
    #poster-area{
        aspect-ratio: 16/7.5;
        height: auto;
    }
}

#poster-container{
    background-image: url("../imgs/bw-subject.png");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    width:100%;
    height: 100%;
    transition-duration: 300ms;
    display: flex;
    pointer-events: none;
    z-index: 2;
    position: relative;
}

.poster-header{
    color: white;
    font-size:10vw;
    margin-inline: 2vw;
    z-index: 1;
    position: absolute;
    margin-top: 15%;
}

#poster-hitbox{
    margin: auto;
    width: 25%;
    height: 100%;
    pointer-events: auto;
}

#poster-container:hover{
    background-image: url("../imgs/coloered-subject.png");
    scale: 1.1;
    transition-duration: 500ms;
}

#information{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: row;
}

#menu h1{
    margin: 1vw;
}

#menu{
    width: 15vw;
}

ul a{
    color: rgb(77, 77, 77);
}

ul a:hover{
    color: black;
}

ul li{
    display: block;
    padding: 2vh;
    z-index: 0;
    position: relative;
}
ul li:hover> hr{
    width: 13vw;
    transition-duration: 200ms;
}
ul li:hover > ul{
    display: block;
}

hr{
    margin: 0;
    width: 100%;
    min-width: 13vw;
}

.hiddenhr{
    width: 50%;
    min-width: 0px;
    margin-top: .2vh;
}

ul li ul{
    display: none;
    position: absolute;
    left: 13vw;
    top: 0%;
    width: 10vw;
}

#wiki{
    width: 100%;
    height: 100%;
}